{% extends "something2eat/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="btn btn-sm btn-outline-primary" href="{% url 'login' %}">Login</a>
        or
        <a class="btn btn-sm btn-outline-primary" href="{% url 'register' %}">Register</a>
    {% endif %}    
{% endblock %}