#fridge-view {
    display: none;
}

#recommendations-view {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
}

.btn.btn-primary {
    margin: 5px;
}

.btn.btn-danger {
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.list-group-item {
    padding: .5rem 1.25rem;
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes hide {
   0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
    padding: .5rem 1.25rem;
   } 
   100% {
    opacity: 0;
    height: 0%;
    line-height: 0px;
    padding: 0rem 1.25rem;
   }
}